  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto:wght@500&display=swap');

.ItemDetail{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0em;

    @media (min-width: 900px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 8em;
    }

}

.ImgDetails{
    padding: 1em;
    width: 20em;
}

.Centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg,#f0f0f0bd,#f3f3f3a4);
    background-size:cover;
    border-radius: 1EM;
}

.DetDerch{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 2em;
}

.Prest{
    font-size: 2.60em;  
    line-height: 2em; 
    font-family: 'Playfair';
    text-align: left;
}

.Especific{
    font-size: 1em;
    text-align:left;
    font-family:'Montserrat' !important;
}

.Detalles{
    font-size: 1.40em;
    font-family: 'Roboto';
    display: flex;
    justify-content:left;
    flex-direction: column;
    align-items:center;
}

.Carrito{
    font-family: 'Lato';
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding: 0.50em;
    display: flex;
    justify-content: center;
    border: none;
    width: 20em;
    
    text-transform: uppercase; -webkit-box-shadow: 6px 6px 39px 10px rgba(189,189,189,0.74);
    -moz-box-shadow: 6px 6px 39px 10px rgba(189,189,189,0.74);
    box-shadow: 6px 6px 39px 10px rgba(189,189,189,0.74);
    
}

.Carrito:hover{
    color: rgb(0, 0, 0);
    background: #f1f1f1;
}
