@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto:wght@500&display=swap');

.ItemDetail{
    grid-area: ItemDetail;
}

.ImgDetalles{
    grid-area: ImgDetalles;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImgDetallesImg{

    width: 80%;

    @media (min-width: 900px) {
        width: 46%;
    }    

}

.DetaMarca{
    grid-area: DetaMarca;
}

.DetaModelo{
    grid-area: DetaModelo;
}

.Description{

    grid-area: Description;
    
    @media (min-width: 900px) {
        padding: 1em;
        padding-bottom: 0em;
    }

}

.Detalles{
    grid-area: Detalles;
}

.Carrito{
    grid-area: Carrito;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ItemDetail{

    display: grid;
    grid-template-areas: 
    "ImgDetalles"
    "DetaMarca"
    "DetaModelo"
    "Description"
    "Detalles"
    "Carrito";
    gap: 1em;

    @media (min-width: 900px) {
        grid-template-areas: 
        "ImgDetalles ImgDetalles  DetaMarca" 
        "ImgDetalles ImgDetalles  DetaModelo"
        "ImgDetalles ImgDetalles  Detalles"
        "Description  Description Carrito";
    }

}

.ItemDetail{
    padding: 2em;
}

.DetaMarca, .DetaModelo, .Description, .Detalles, .Carrito, p{
    font-size: 1.2em;  
    font-family: 'Roboto';
    text-align: center;
    margin-bottom: 0 !important;
}

.DetaMarca, .DetaModelo{

    font-family: 'Playfair';    
    font-size: 3em;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 900px) {
        font-size:4em;
    }

}

.CarritoBTN{

    color: rgb(255, 255, 255);
    font-weight: 500;
    background-color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.40em;
    border: 0.15em black solid;
    border-radius: 0.50em; 
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-transform: uppercase; 
    -webkit-box-shadow: 5px 5px 30px 8px rgba(189,189,189,0.74);
    -moz-box-shadow: 5px 5px 30px 8px rgba(189,189,189,0.74);
    box-shadow: 5px 5px 30px 8px rgba(189,189,189,0.74);
    
    @media (min-width: 900px) {
        width: 50%;
        margin: 0%;

    }

}

.CarritoBTN:hover{
    color: rgb(0, 0, 0);
    background: #f1f1f1;
}

.Detalles{

    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 1em;
    }

}