.ItDetailContainer{

    background: rgb(255, 254, 254);
    -webkit-box-shadow: 6px 6px 39px 10px rgba(189,189,189,0.74);
    -moz-box-shadow: 6px 6px 39px 10px rgba(189,189,189,0.74);
    box-shadow: 6px 6px 39px 10px rgba(189,189,189,0.74);
    border-radius: 1em;
    
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;

    margin-top: 5vh;
    margin-bottom: 5vh;
    
}

.Carga{
    font-family: 'Lato';
    margin: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}