.ItDetailContainer{

    background: rgb(255, 254, 254);
    -webkit-box-shadow: 6px 6px 39px 10px rgba(189,189,189,0.74);
    -moz-box-shadow: 6px 6px 39px 10px rgba(189,189,189,0.74);
    box-shadow: 6px 6px 39px 10px rgba(189,189,189,0.74);
    border-radius: 1em;
    
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 7vh;
    margin-bottom: 5vh;
    height: auto;
}

.CargaD{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    margin-top: 30Vh !important;
}

.CargandoD{
    font-family: 'Montserrat';
}