@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Roboto:wght@500&display=swap');

.Card{
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    width: 18em;
    margin: 2em;
    border-radius: 1em; 
    padding: 2em;
    background-color: rgba(219, 219, 219, 0.5);
    gap: 1.5em;
}

.Card:hover{
    transform: scale(1.05);
    transition: all 0.3s;
}

.ImgCards{
    width: 12.5em;
    height:auto; 
    display:flex; 
    align-items: center;
    justify-items: center;
}

.MarcModels{
    font-family: 'Playfair';
    font-size: 2em;
    line-height: 0.50em;
    font-weight:bold;
}

.ModeloMarca{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.MMPrecio{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.Precio{
    font-family: 'Roboto';
    font-size:1.20em;    
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color:rgb(0, 0, 0);
    border-radius: 5em;
    padding: 0.50em;
}

.Info{    
    font-family: 'Roboto';
    color: rgb(255, 255, 255);
    font-weight: bolder;
    background-color:rgb(0, 0, 0);
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    padding: 0.50em;
    display: flex;
    justify-content: center;
    border-radius: 0.50em; 
    text-transform: uppercase; 
    -webkit-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
    box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
}

.Info:hover{
    color: rgb(0, 0, 0);
    background: #ffffff;
}

.InfoCarrito{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.CarritoIconItem{
    color: white;
    background-color: black;
    padding: 0.40em;
    width: 1.40em;
    height: 1.45em;
    border-radius: 0.50em; 

    -webkit-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
    box-shadow: 0px 2px 18px 5px rgba(0,0,0,0.18);
}

.CarritoIconItem:hover{
    color: rgb(0, 0, 0);
    background: #ffffff;
}