.OffCanvasBurgerIcon{
    
    color: #fffefe; 
    width: 2em; 
    height: 3em; 
    margin-top: 9px;

    @media (min-width: 900px) {
        margin-top: 0px !important;
    }

}

.OffCanvasBurgerIcon:hover{
    transform: scale(1.1);
}

.svg-inline--fa {
    vertical-align: none;
}

.OffcanvasHeader{
    background-color: rgb(197, 197, 197);
    justify-content: space-around !important;
}

.OffCanvasLogo{
    font-family: "Lobster";
    font-size: 2em !important;
    font-weight: 400;
    color: rgb(0, 0, 0) !important;
    margin-top: 5px;
    text-decoration: none; 
}

.OffCanvasLogo:hover{
    transform: scale(1.05);
}

.AllBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.btn-close:focus {

    box-shadow: none !important;
    opacity: 1;
}