@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lobster&family=Montserrat&display=swap');

.GridNavbar{
    grid-area: GridNavbar;
}

.GridOffCanvas{
    grid-area: GridOffCanvas;
}

.GridLogo{
    grid-area: GridLogo;
}

.GridBusqueda{

    grid-area: GridBusqueda;
    margin: 1em;
    margin-top: 0.50em;

    @media (min-width: 900px) {
        margin: 1em;
        width: 30vw;
    }

}

.GridCarrito{
    grid-area: GridCarrito;
}

.GridNavbar{

    display: grid;
    grid-template-areas: 
    "GridOffCanvas GridLogo GridCarrito"
    "GridBusqueda GridBusqueda GridBusqueda";

    @media (min-width: 900px) {
        grid-template-areas:
        "GridOffCanvas GridLogo  GridBusqueda GridCarrito";
        justify-content: space-around;
        align-items: center;
    }

}

.Navbar {
    justify-content:space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.Logo {
    font-family: "Lobster";
    font-size: 35px;
    font-weight: 400;
    color: white !important;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 5px;
    text-decoration: none; 
}