.carousel-control-prev-icon, .carousel-control-next-icon{    
    filter: invert(1) grayscale(100) !important;
}

.carousel-indicators [data-bs-target]{
    background-color: #000 !important;
}

.ImgDetails{
    padding: 4em;
}